@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


body{
background: #202142;
font-family: "Poppins", sans-serif;

}




/* item components */


.card {
  background: #fff;
  border-radius: 15px;
  max-width: 800px;
  margin: auto;
  text-align: center;
  position: relative;
  padding: 2rem 0;
}

.card .num-display {
position: absolute;
background: pink;
width: 2rem;
height: 2rem;
border-radius: 50%;
text-align: center;
top: -10px;
left: -10px;}